@font-face {
	font-family: "Grotesk-Regular";
	src: url("../fonts/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
        font-family: "Grotesk-MediumItalic";
        src: url("../fonts/HKGrotesk-MediumItalic.woff") format("woff");
}

:root {
    --backdrop_color: rgba(255, 255, 255, 1);
    --border_color_1: rgba(0, 0, 0, 1);
    --border_color_2: rgba(0, 0, 0, 1);	
    --text_box_color: rgba(255, 255, 255, 1);
    --header_text_color: #2c3027;
    --text_color: rgba(0, 0, 0, 1);
}

body {
	font-family:Grotesk-Regular;
	font-size:11px;
	line-height:15px;
/*	background-image:url(../images/subtle-dots-black.png);*/
	background-color: var(--backdrop_color);
}

.page-centering {
	display: flex;
	align-items: center;
	justify-content: center;
}
.total-column-placement {
	position: absolute;
	top: 0px;
}
.columns {
	display: grid;
  	grid-template-columns: 200px 600px;
	gap:0px;
}

.banner-column{
	grid-column-start: 1;
  	grid-column-end: 3;
}

.left-column {
	grid-column-start: 1;
  	grid-column-end: 2;
}

.right-column {
	grid-column-start: 2;
  	grid-column-end: 3;
}

.banner{
	display: flex;
        align-items: center;
        justify-content: center;
        padding:7px;
        margin:5px; /*distance between boxes vertically*/
        border-left:1px solid var(--border_color_1);
        border-top:1px solid var(--border_color_1);
        border-right:1px solid var(--border_color_2);
        border-bottom:1px solid var(--border_color_2);
	background-size:cover;
/*	background-image:url(../images/sinew-miracle-banner.png);*/
        background-color: var(--text_box_color);
}

.index, .content{
	padding:7px;
	margin:5px; /*distance between boxes vertically*/ 
	border-left:1px solid var(--border_color_1);
        border-top:1px solid var(--border_color_1);
        border-right:1px solid var(--border_color_2);
        border-bottom:1px solid var(--border_color_2);
	background-color: var(--text_box_color);
}

h3 {
	font-family:Grotesk-MediumItalic;
	transform: skew(8deg); /*unitalicize the italics*/
	color: var(--text_color);
	font-size: large;
	margin-top: 5px;
	margin-bottom: 40px;
}

p {
	font-family:Grotesk-Regular;
	color: var(--text_color);
	font-size: small;
	margin-top: 0px;
}
