@font-face {
	font-family: "Grotesk-Regular";
	src: url("../fonts/HKGrotesk-Thin.woff") format("woff");
}

@font-face {
        font-family: "Grotesk-Bold";
        src: url("../fonts/HKGrotesk-Medium.woff") format("woff");
}

body {
	font-family:Grotesk-Regular;
	font-size:11px;
	line-height:15px;
	background-image:url(../images/subtle-dots-black.png);
	background-color:#3b3b3b;
}

.page-centering {
	display: flex;
	align-items: center;
	justify-content: center;
}
.total-column-placement {
	position: absolute;
	top: 0px;
}
.columns {
	display: grid;
  	grid-template-columns: 200px 600px;
	gap:0px;
}

.banner-column{
	grid-column-start: 1;
  	grid-column-end: 3;
}

.left-column {
	grid-column-start: 1;
  	grid-column-end: 2;
}

.right-column {
	grid-column-start: 2;
  	grid-column-end: 3;
}

.banner{
	display: flex;
        align-items: center;
        justify-content: center;
        padding:7px;
        margin:5px; /*distance between boxes vertically*/
        border-left:1px solid #b5b5b5;
        border-top:1px solid #b5b5b5;
        border-right:2px solid #000000;
        border-bottom:2px solid #000000;
	background-size:cover;
	background-image:url(../images/sinew-miracle-banner.png);
        background-color:#d9d9d9;
}

.index, .content{
	padding:7px;
	margin:5px; /*distance between boxes vertically*/ 
	border-left:1px solid #b5b5b5;
	border-top:1px solid #b5b5b5;
	border-right:2px solid #000000;
	border-bottom:2px solid #000000;
	background-color:#d9d9d9;
}

h3 {
	font-family:Grotesk-Bold;
	color:#black;
	font-size:22px;
	font-weight:bold;
	margin-top:3px;
	margin-bottom:0px;
}

button {
	color:#b22222;

}
